@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    /*Proposed palette*/
   /*  --body-bkg-color: #f3f3f3;
    --nav-bkg-color: #0d7963;
    --nav-current-page-bkg-color: #3AA992;
    --nav-text-color: #CCECE6;
    --nav-text-hover-color: #790C22;
    --people-name: #FF0000;  */
  

    /*Palette 1 OK*/
    --body-bkg-color: #F3EADA;
    --nav-bkg-color: #CCECE6;
    --nav-current-page-bkg-color: #3AA992;
    --nav-text-color: #05332a;
    --nav-text-hover-color: #5282d0;
    /* --people-name: #FF0000;  it will be styled with bold and underlining instead*/

    /*gray palette*/
    --dark-gray: #333;
    --medium-gray: #666;
    --light-gray: #ddd;

    --shadow: 10px 10px 10px var(--medium-gray);

    /*Palette 2*/
    /* --body-bkg-color: #F3EADA;
    --nav-bkg-color: #85b848;
    --nav-current-page-bkg-color: #3AA992;
    --nav-text-color: #2F4858;
    --nav-text-hover-color: #5282d0;
 */
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background-color: var(--body-bkg-color);
    margin: 0;
    padding: 0;



}

h2 {
    color: var(--nav-text-color);
    font-weight: bold;
    font-size: 3em;
    margin: 0px;

    /*  Removed because it imparis readibility */
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
}

p {
    line-height: 1.8em;
    text-indent: 32px;
}

.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

.skip-to-content-link {
    background: var(--nav-bkg-color);
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}


header {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 0px;


}

header>nav {
    background-color: var(--nav-bkg-color);
    color: var(--nav-text-color);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

header>nav>ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

header>nav>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 144px;
    min-height: 32px;

}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 600;
}

header li:hover {
    background-color: var(--nav-text-hover-color);
}

header li:hover a {
    color: white;
    background-color: var(--nav-text-hover-color);
}

header a:focus {
    text-decoration: underline;
}

.active {
    background-color: var(--nav-current-page-bkg-color);

}

header li.active {
    height: 100%;
    width: 100%;
}


.heading-container {
    display: flex;
    justify-content: center;
    min-height: 232px;
    margin-top: 8px;
}

.heading-container>.header-background {
    position: absolute;
    background-image: url('../images/fondo.png');
    background-size: cover;
    min-height: 232px;
    width: 100%;
    opacity: 0.3;
}


.heading-container>.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 192px;
    margin-top: 8px;
}

.heading-container>.content>h1 {
    color: var(--nav-text-color);
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    color: black;
    margin: 0px;

}





main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-gray);
    padding: 8px;

}

.main-article {
    max-width: 1200px;
    background-color: var(--body-bkg-color);
    padding: 2em;
    border-radius: 32px;
}


.names {
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #1D8288;
}

.bold {
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.giant {
    font-size: 3em;
    color: var(--medium-gray);
    font-style: italic;
}

blockquote {
    text-align: right;
    font-style: italic;
    border-left: 8px solid #790C22;
    padding: 32px;
    color: var(--nav-text-color);
    background: rgb(225, 236, 234);
    background: linear-gradient(140deg, rgba(225, 236, 234, 1) 30%, rgba(204, 236, 230, 1) 74%, rgba(58, 169, 146, 1) 98%);
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    box-shadow: var(--shadow);
    margin-bottom: 16px;
}

.image-container figcaption {
    text-align: center;
    font-style: italic;
    color: var(--dark-gray);
}

.book-styled-list {
    list-style-image: url("../images/e-book.png");
    line-height: 1.8em;
}

.earth-styled-list {
    list-style-image: url("../images/world.png");
    line-height: 1.8em;
}


.references>.references>div {
    border-left: 4px solid #790C22;
    margin-left: 4em;
}



footer {
    background-color: var(--nav-bkg-color);
    padding: 2em;
}

footer p {
    color: var(--nav-text-color);
    text-align: center;
    margin-top: 0px;
}